<h1>Profile Page other users see</h1>
<h3>This is the page another user will see when looking up your profile.</h3>
<p>Here user's will see your bio, current goals, goals completed and your accountability partners. They will also be able to send you messages from this page.</p>
