<h1>Individual Goals Page</h1>

<!-- - - - - - User personal and account info - - - - - -->

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag(current_user.avatar.url(:thumb)) %><br />
        <%= current_user.username %><br />
      </div>
      <div class="col-md-6">
        <%= current_user.name %>
        <P><%= current_user.goals.count %> Goals</P>
      </div>
    </div>
  </div>
</div>

<div class="row">

<!-- Left Column -->
  <div class="col-md-6">
<!-- - - - - - - - - - - User Goals - - - - - - - - - -->

    <div class="panel panel-default">
      <div class="panel-body">
        User Goals
      </div>
    </div>

<!-- - - - - - - - - Completed Goals - - - - - - - - -->

    <div class="panel panel-default">
      <div class="panel-body">
        Completed Goals
      </div>
    </div>

  </div> <!-- Left Column End -->

<!-- Right Column -->
  <div class="col-md-6">

<!-- - - - - - - - - - New Goals Form - - - - - - - - - -->

    <div class="panel panel-default">
      <div class="panel-body">
        New Goals Form
      </div>
    </div>
<!-- - - - - - - - - - - Messages - - - - - - - - - - -->

    <!-- <div class="panel panel-default">
      <div class="panel-body">
        Messages
      </div>
    </div> -->

<!-- - - - - - - - - - - - Friends - - - - - - - - - - - -->

    <div class="panel panel-default">
      <div class="panel-body">
        Friends
      </div>
    </div>

  </div> <!-- Right Column End -->
</div>
